@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
    margin: 0;
    margin-bottom: 3rem;
    font-family: "Poppins", sans-serif;
}

/*header*/

.logoimg{
    width: 40vh;
}

.logo{
    width: 10%;
    height: 10%;
}

header{
    background: rgb(194, 108, 37); 
    display: flex;
    justify-content:inherit;
}

/*section*/

.section{
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.section_title{
    font-size: 1.3rem;
    font-weight: medium;
    color: rgb(225, 134, 22);
}

/*slide*/

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next{
    margin-top: -3rem;
    padding-left: 5rem;
    color: rgb(194, 108, 37);
  }

  .swiper-button-prev{
    margin-top: -3rem;
    padding-right: 5rem;
    color: rgb(194, 108, 37);
  }

/*cards*/

.card_img{
    width: 12rem;
    height: 10rem;  
    border-radius: 2px;  
}

.card_body{
    text-align: center;
    border-radius: 2px;  
    background-color: rgba(255, 128, 0, 0.55);
}

.card_title{
    font-size: 1rem;
    font-weight:bold;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}

.card_price{
    margin-top: 0;
    color: rgb(2, 77, 2);
}

/*outros*/
.container{
    margin-top: 3rem;
}

.section_title{
    font-weight: bolder;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}