@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
    margin: 0;
    margin-bottom: 3rem;
    font-family: "Poppins", sans-serif;
}

/*header*/

:root{
    --bg-body: rgb(255, 255, 255);
    --color-font: rgb(194, 108, 37);
    --color-card: rgb(64, 128, 106);
    --max-width: 1200px;
    --secondary-color: #ca8a04;
    }

    body{
        font-family: "Poppins", sans-serif;
    }

    .navigationc4t{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
}

    nav .checkbox {
    display: none;
    }

    img.cash4trash{
        max-width: 100%;
        display: block;
        height: 7vmin;
        object-fit:contain;
        margin: 0 auto;
    }

    .nav-menuc4t{
        margin-top: 1vh;
    }

    .navigationc4t ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1rem;
        transition: left 0.3s;
    }

    .navigationc4t ul li a{
        color: var(--color-font);
        font-size: 17px;
        font-weight: 600;
        transition: 0.3s;
        text-decoration: none;
        padding: 0.5rem 0.5rem;
        border: 2px solid transparent;
    }

    .navigationc4t ul li a:hover{
        border-top-color: var(--secondary-color);
        border-bottom-color: var(--secondary-color);
        color: rgba(0, 0, 0, 0.771);
    }

    .navigationc4t i{
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--color-font);
    }

    .menuc4t{
        cursor: pointer;
        display: none;
    }

    .menu .barc4t{
        display: block;
        width: 28px;
        height: 3px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.705);
        margin: 5px auto;
        transition: all 0.3s;
    }

    .menu .barc4t:nth-child(1),
    .menu .barc4t:nth-child(3){
        background: var(--color-font);
    }

    .sub-menu-wrap{
        position: absolute;
        top: 100%;
        right: 10%;
        width: auto;
    }

    .sub-menu{
        background: #fff;
        padding: 20px;
        margin: 10px;
    }

    .ola{
        color: rgb(208, 140, 14);
        font-size: larger;
        font-weight: 500;
    }

    .olaa{
        color: var(--color-font);
        font-size: larger;
        margin-left: -11px;
        font-weight: 500;
        margin-top: 1rem;
    }

/*section*/

.section{
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.section_title{
    font-size: 1.3rem;
    font-weight: medium;
    color: rgb(225, 134, 22);
}

/*slide*/

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next{
    margin-top: -3rem;
    padding-left: 5rem;
    color: rgb(194, 108, 37);
  }

  .swiper-button-prev{
    margin-top: -3rem;
    padding-right: 5rem;
    color: rgb(194, 108, 37);
  }

/*cards*/

.card_img{
    max-width: 12rem;
    height: 10rem;  
    border-radius: 2px;  
}

.card_body{
    text-align: center;
    border-radius: 2px;  
    background-color: rgba(255, 128, 0, 0.55);
}

.card_title{
    font-size: 1rem;
    font-weight:bold;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}

.card_price{
    margin-top: 0;
    color: rgb(2, 77, 2);
}

/*outros*/
.container{
    margin-top: 3rem;
}

.section_title{
    font-weight: bolder;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}

/*Responsividade*/
    @media (max-width:785px) {
    .navigationc4t{
        padding: 18px 20px;
    }
    .menuc4t{
        display: block;
    }
    .menuc4t.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menuc4t.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menuc4t.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menuc4t{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menuc4t.ativo{
        right: 0;
        background-color: #fff;
        position: absolute;
   }
    .nav-itemc4t{
        margin: 16px 0;
    }


.card_img{
    max-width: 100%;
    height: 5rem;  
    border-radius: 2px;  
}

.card_body{
    max-height: 10rem;
}

.swiper-button-next{
    display: none;
}

.swiper-button-prev{
    display: none;
}

.section_title{
    margin-left: -1rem;
}
    
}