@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #f48a5d;
  --primary-color-dark: #F4743B;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #5b7280;
  --max-width: 1200px;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
  letter-spacing: 2px;
  color: #566671;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
  text-align: center;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.dados {
  background-color: var(--primary-color);
  color: #ffffff;
}

.dados:hover {
  background-color: var(--primary-color-dark);
}

.editar {
  color: var(--primary-color);
  background-color: #ffffff;
}

.editar:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.m-2{
  margin: 12px;
}

.p-4{
  padding: 24px;
}

/**/
#form-form{
  & .image-upload{
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      border: 5px solid #FD7D00;
      box-shadow: 2px 3px 12px #00000060;
      overflow: hidden;
      cursor: pointer;
  }

  & .image-upload img{
      object-fit: cover;
  }

  & #imagefield{
      position: absolute;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      opacity: 0;
      cursor: pointer;

  }
}

.logout{
  color: var(--primary-color);
  font-size: xx-large;
}

.div_logout{
  margin-top: 20px;
}

.navigation{
  margin-bottom: 20px;
}

.editar_title{
  color:#F4743B;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 20%;
}


.form__input{
  width: 100%;
	height: 4vh;
  border-radius: 4px;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 20px;
  background-color: #EBEEEE;
  font-size: medium;
}

label{
  margin-top: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #F4743B;
  text-decoration: none;
  cursor: pointer;
}

.form__button{
  background-color: white;
  margin-top: -15px;
  cursor: pointer;
  color: black;
}

.form__button:hover{
  background-color: #f48a5d;
  color: white;
}

button{
  color: white;
  cursor: pointer;
  background-color:var(--primary-color);
  margin-top: 5%;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: 2px;
  padding: 2%;
}  

button:hover{
  color: var(--primary-color);
  background-color: white;
  border: 2px;
}

/*table*/
table, th, td{
  padding: 1rem;
}

thead th{
  top: 0;
  left: 0;
  background-color: #f48a5dde;
}

main.table{
  width: 25%;
  height: auto;
  background-color: #d66a1876;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}

.table_header{
  width: auto;
  height: auto;
  background-color: #f48a5d;
  padding: .9rem 1rem;
}

.table_body{
  width: auto;
  height: auto;
}

img.ind{
  width: 70%;
  height: 40%;
}

.title_ind{
  font-size: medium;
  font-weight: light;
  margin-top: 1rem;
}

.table-container {
  white-space: nowrap;
}

.table {
  display: inline-block;
  width: 45%;
  margin-right: 10px;
}

@media (width < 785px) {

  .nav-menu.ativo{
    width: 100%;
    height: 100%;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}