@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C26C25;
}

.container{
    width: 80%;
    height: 80vh;
    display: grid;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    background-color: white;
}

.image{
    width: 60vh;
    margin-left: 55vh;
}

.info-header{
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.title{
    font-size: 30px;
    font-weight: 15px;
    margin-bottom: 20px;
}

.link{
    color: white;
    background-color: #C26C25;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.link:hover{
    padding: 11px;
}

.infocorreta{
    margin-bottom: 3%;
}