@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/*content*/

.produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.produto{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(247, 153, 76, 0.703);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    text-align: center;
}

.nome-produto{
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.79);
}

.preco-produto{
    font-size: 15px;
    color: rgb(2, 77, 2);
}

.container-produtos{
    padding-left: 4%;
    padding-right: 4%;
}

#mk-header{
    width: 100%;
}

.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: rgb(194, 108, 37);
}