@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#picture__input{
    display: none;
}

.input_file{
    padding-top: 15%;
    padding-right: 5%;
}

.picture{
    width: 250px;    
    height: 185px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-family: sans-serif;
    transition: color 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    border-radius: 12px;
}

.picture:hover{
    color: #999;
    background: #ccc;
}

.picture__img{
    width: 250px;
    height: 195px;
    border-radius: 12px;
}

.logo img{
    margin-top: 20%;
    width: 250px;
}

header{
    display: flex;
    position: fixed;
    top: 0;
}

body{
    background-color: rgb(218, 138, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    min-height: 100vh;
}

.form-box{
    width: 55%;
}

.form-box h2{
    font-size: 25px;
    color: #363435;
}

.form-box p{
    color: #14453D;
}

form .input-group, select{
    margin-bottom: 1px;
}

form .input-group input, select{
    margin-top: 15px;
    width: 100%;
    height: 32px;
    background-color: rgba(240, 240, 240, 0.945);
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 14px;
    color: #14453D78;
}

form .input-group input:focus{
    border: #14453D;
}


form .input-group button{
    margin-top: 27px;    
    width: 25%;
    height: 33px;
    background-color: #363435;
    border-radius: 15px;
    color: white;
    border: 1px solid transparent;
}

form{
    display: flex;
}

#optgroup{
    margin-bottom: -5px;
}